body{
  width: 100%;
  height: 100vh;
  background: url(https://cdn.pixabay.com/animation/2024/01/10/14/45/14-45-54-336_512.gif);
  background-size: cover;
  background-position: center;
  position: fixed;
}